<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quick&Healthly</title>
  </head>
  <body>
    <h1>Meals that you can make quick:</h1>

    <table>
      {% for item in items %}
      <tr>
        <td><img src="{{item.picture}}" /></td>
        <td>{{item.name}}</td>
        <td>{{item.present_ingredients}}</td>
        <td>{{item.present_ingredients}}</td>
        <td>{{item.missing_ingredients}}</td>
        <td>{{item.carbs}}</td>
        <td>{{item.proteins}}</td>
        <td>{{item.calories}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
